[project]
	description = Form framework for BackboneJS with nested forms, editable lists and validation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/godentarek
[access "refs/for/refs/*"]
	read = group user/godentarek
	push = group user/godentarek
	label-Code-Review = -2..+2 group user/godentarek
	label-Verified = -1..+1 group user/godentarek
	rebase = group user/godentarek
	removeReviewer = group user/godentarek
	submit = group user/godentarek
[access "refs/heads/*"]
	read = group user/godentarek
	create = group user/godentarek
	push = +force group user/godentarek
	pushMerge = group user/godentarek
[access "refs/tags/*"]
	push = +force group user/godentarek
	pushTag = group user/godentarek
	pushSignedTag = group user/godentarek
